.TransactionFilters {
    width: 100%;
    background-color: transparent;

    .controls {
        flex-wrap: nowrap;
        gap: 16px;
    }

    .search {
        width: 280px;
        flex-shrink: 0;
    }

    .btn {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        gap: 8px;
    }

    @media (width <= 1200px) {
        .controls {
            flex-wrap: wrap;
        }
    }

    @media (width <= 700px) {
        .controls {
            justify-content: stretch;
        }

        .search {
            width: 100%;
        }
    }
}
