/* SCSS HEX */
$persian-pink: #f577c1ff;
$erin: #0afa4cff;
$amaranth-pink: #e397c1ff;
$mexican-pink: #e91a8dff;
$eerie-black: #242424ff;
$lavender-pink: #fab8dfff;
$hot-pink: #f566baff;
$raisin-black: #2d1e26ff;
$hollywood-cerise: #eb2393ff;
$erin-2: #01fe47ff;
$dark-blue: #0a1f3dff;
